# Merge LinkedIn Files

Following are the list of files gathered by linkedIn:

1. Visitor stats
2. Updates
3. Followers


Following files will be combined to draw - Engagement insights

**Engagement Insights:**
Draw insight on:
<ul>
    <li>total page views to date,</li>
    <li> total unique visitors to </li>
    <li> average engagement rate </li>
    <li> linked In posts </li>
</ul>


**Visitor Insights:**
Draw insight on visitor demographics:
<ul>
    <li> Location of visitors </li>
    <li> Visitor by industry </li>
 </ul>
 
**Follower Insights:**
Draw insight on follower demographics:
<ul>
    <li> Location of followers </li>
    <li> Follower Industry </li>
 </ul>

In [26]:
import os
import pandas as pd
import numpy as np
from datetime import date, timedelta, datetime
import csv


### Data Visualization

import matplotlib.pyplot as plt
import seaborn as sns

# Options for pandas
pd.options.display.max_columns = 30

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'



%matplotlib inline
plt.style.use("seaborn")

## Settings

In [47]:
raw_data_dir = os.path.join("../../","data","raw_data","iupui","linkedIn")
processed_data_dir = os.path.join("../../","data","processed_data","iupui","linkedIn")

file_prefix = "indiana-university_purdue-university-indianapolis"
followers_file =  f"{file_prefix}_followers.xls"
engagements_file = f"{file_prefix}_updates.xls"
visitor_file = f"{file_prefix}_visitors.xls"

old_followers_file =  f"{file_prefix}_followers_old.xls"
old_engagements_file = f"{file_prefix}_updates_old.xls"
old_visitor_file = f"{file_prefix}_visitors_old.xls"



start_date = date(2018, 6, 10)  # start date
end_date = date(2019, 7, 31)    # end date


## Read from
visitors_file_path = os.path.join(raw_data_dir,visitor_file )
followers_file_path = os.path.join(raw_data_dir,followers_file )
engagements_file_path = os.path.join(raw_data_dir, engagements_file)



old_visitors_file_path = os.path.join(raw_data_dir,old_visitor_file )
old_followers_file_path = os.path.join(raw_data_dir,old_followers_file )
old_engagements_file_path = os.path.join(raw_data_dir, old_engagements_file)

### Visitors

In [48]:
visitors = pd.ExcelFile(visitors_file_path)
engagements = pd.ExcelFile(engagements_file_path)
followers = pd.ExcelFile(followers_file_path)

In [49]:
import datetime

visitor_metrics_df = pd.read_excel(visitors_file_path, sheet_name='Visitor metrics')
visitor_location_df = pd.read_excel(visitors_file_path,sheet_name = "Location")
visitor_job_function_df = pd.read_excel(visitors_file_path,sheet_name = "Job function")
visitor_industry_df = pd.read_excel(visitors_file_path,sheet_name= "Industry")
visitor_company_size_df = pd.read_excel(visitors_file_path, sheet_name = "Company size")
visitor_seniority_df = pd.read_excel(visitors_file_path,sheet_name = "Seniority")


## Setting Date as index
visitor_metrics_df["Date"]= pd.to_datetime(visitor_metrics_df["Date"]) 

## Old Data
old_visitor_metrics_df = pd.read_excel(old_visitors_file_path, sheet_name='Visitor metrics')
old_visitor_location_df = pd.read_excel(old_visitors_file_path,sheet_name = "Location")
old_visitor_job_function_df = pd.read_excel(old_visitors_file_path,sheet_name = "Job function")
old_visitor_industry_df = pd.read_excel(old_visitors_file_path,sheet_name= "Industry")
old_visitor_company_size_df = pd.read_excel(old_visitors_file_path, sheet_name = "Company size")
old_visitor_seniority_df = pd.read_excel(old_visitors_file_path,sheet_name = "Seniority")


## Setting Date as index
visitor_metrics_df["Date"]= pd.to_datetime(visitor_metrics_df["Date"]) 
old_visitor_metrics_df["Date"] = pd.to_datetime(old_visitor_metrics_df["Date"])


print("New: Min date:", visitor_metrics_df['Date'].min(), " Max date:", visitor_metrics_df["Date"].max())
print("Old: Min date:", old_visitor_metrics_df['Date'].min(), " Max date:", old_visitor_metrics_df["Date"].max())

New: Min date: 2018-09-01 00:00:00  Max date: 2019-09-18 00:00:00
Old: Min date: 2018-07-01 00:00:00  Max date: 2019-07-31 00:00:00

#### Append

In [50]:
visitor_metrics_df = visitor_metrics_df.append(old_visitor_metrics_df[old_visitor_metrics_df["Date"]<visitor_metrics_df["Date"].min()])
print("Appended successfully")
print("Min date:", visitor_metrics_df['Date'].min(), " Max date:", visitor_metrics_df["Date"].max())

Appended successfully
Min date: 2018-07-01 00:00:00  Max date: 2019-09-18 00:00:00

In [51]:
with pd.ExcelWriter(visitors_file_path,engine='xlsxwriter') as writer:
    
    ## Metrics
    visitor_metrics_df.to_excel(writer, sheet_name='Visitor metrics')
    visitor_location_df.to_excel(writer, sheet_name='Location')
    visitor_job_function_df.to_excel(writer, sheet_name='Job function')
    visitor_industry_df.to_excel(writer,sheet_name= "Industry")
    visitor_company_size_df.to_excel(writer, sheet_name = "Company size")
    visitor_seniority_df.to_excel(writer,sheet_name = "Seniority")

    
    
    writer.save()

### Engagements

In [52]:
engagement_metrics_aggregate_df = pd.read_excel(engagements_file_path,sheet_name = 'Update metrics (aggregated)')
engagement_metrics_update_df = pd.read_excel(engagements_file_path,sheet_name = 'Update engagement')



## Old 
engagement_metrics_aggregate_old_df = pd.read_excel(old_engagements_file_path,sheet_name = 'Update metrics (aggregated)')
engagement_metrics_update_old_df = pd.read_excel(old_engagements_file_path,sheet_name = 'Update engagement')

In [53]:
engagement_metrics_update_old_df

,Unnamed: 0,Update title,Update link,Update type,Campaign name,Posted by,Created date,Campaign start date,Campaign end date,Audience,Impressions,Video views,Clicks,Click through rate (CTR),Likes,Comments,Shares,Follows,Engagement rate
0,1,"""There is a real power in storytelling to addr...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-07-31,NaN,NaN,All followers,5522,NaN,78,0.014125,59,2,1,NaN,0.025353
1,2,We've all had that professor who made a signif...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-07-29,NaN,NaN,All followers,15115,NaN,559,0.036983,38,35,1,NaN,0.041879
2,3,"You vacuum it, sweep it and wipe it off your f...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rebekah Wuchner,2019-07-24,NaN,NaN,All followers,8855,NaN,254,0.028684,32,1,4,NaN,0.032863
3,4,What would we do without our OTEAM? IUPUI's or...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rebekah Wuchner,2019-07-22,NaN,NaN,All followers,7594,NaN,54,0.007111,59,1,6,NaN,0.015802
4,5,"As part of Infosys global internship program, ...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-07-19,NaN,NaN,All followers,7710,NaN,119,0.015435,56,0,5,NaN,0.023346
5,6,Returning to school as a nontraditional studen...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rebekah Wuchner,2019-07-18,NaN,NaN,All followers,8215,NaN,106,0.012903,54,0,1,NaN,0.019598
6,7,IUPUI students met with Vice President Mike Pe...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-07-11,NaN,NaN,All followers,22381,NaN,732,0.032706,216,27,7,NaN,0.043877
7,8,Working with data analyzed by researchers from...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-07-08,NaN,NaN,All followers,11072,NaN,153,0.013819,41,2,0,NaN,0.017702
8,9,The School of Science at IUPUI has received a ...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-07-01,NaN,NaN,All followers,14252,NaN,136,0.009543,113,2,0,NaN,0.017612
9,10,It's been an incredible 50 years. We’ve come t...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rebekah Wuchner,2019-06-27,NaN,NaN,All followers,19643,5157.0,106,0.005396,201,1,10,NaN,0.016189
10,11,"For more than three decades, the Natatorium ha...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-06-24,NaN,NaN,All followers,13183,NaN,164,0.012440,84,4,3,NaN,0.019343
11,12,Summer Orientation is under way for the IUPUI ...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-06-17,NaN,NaN,All followers,21156,NaN,433,0.020467,144,26,3,NaN,0.028644
12,13,IUPUI researchers hope monitoring the mobility...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-06-11,NaN,NaN,All followers,13810,NaN,69,0.004996,93,1,7,NaN,0.012310
13,14,We've changed a lot in 50 short years. We're n...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rebekah Wuchner,2019-06-03,NaN,NaN,All followers,26911,8357.0,239,0.008881,273,15,30,NaN,0.020698
14,15,Andrea Jandernoa uses sugar as an artistic med...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rebekah Wuchner,2019-05-20,NaN,NaN,All followers,17868,4815.0,82,0.004589,73,2,8,NaN,0.009234
15,16,"This weekend, we celebrated the largest gradua...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-05-13,NaN,NaN,All followers,25238,NaN,334,0.013234,299,9,7,NaN,0.025715
16,17,"Born and raised in a refugee camp, Easter Day ...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-05-07,NaN,NaN,All followers,20489,6227.0,136,0.006638,121,2,12,NaN,0.013227
17,18,"""Sen. Lugar was a leader in renewable energy f...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-05-02,NaN,NaN,All followers,11624,NaN,77,0.006624,52,0,1,NaN,0.011184
18,19,Eric Hewlett left the South Side of Chicago so...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-04-29,NaN,NaN,All followers,33561,15923.0,276,0.008224,408,14,44,NaN,0.022109
19,20,One Indiana University School of Public and En...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-04-22,NaN,NaN,All followers,23679,9081.0,197,0.008320,159,3,10,NaN,0.015583
20,21,Watch Monument Circle come to life on Herron S...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-04-16,NaN,NaN,All followers,19764,5258.0,90,0.004554,134,2,9,NaN,0.011890
21,22,The MDCRB is an adaptable facility that will m...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-04-11,NaN,NaN,All followers,22762,NaN,736,0.032335,245,6,11,NaN,0.043845
22,23,"Want to see an IUPUI rendition of ""Shark Tank""...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-04-03,NaN,NaN,All followers,12472,NaN,101,0.008098,29,0,2,NaN,0.010584
23,24,IUPUI is leading the conversation about urban ...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-03-19,NaN,NaN,All followers,20476,NaN,235,0.011477,156,0,12,NaN,0.019682
24,25,SPEA will be renamed the Paul H. O'Neill Schoo...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-03-11,NaN,NaN,All followers,16297,NaN,144,0.008836,69,3,2,NaN,0.013377
25,26,"Last weekend, the Jagathon Dance Marathon smas...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-03-06,NaN,NaN,All followers,16086,NaN,118,0.007336,148,5,9,NaN,0.017406
26,27,When Carol Anne Murdoch-Kinch assumes her role...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-02-28,NaN,NaN,All followers,19491,NaN,127,0.006516,182,2,8,NaN,0.016367
27,28,To help address the shortage of trained behavi...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-02-18,NaN,NaN,All followers,16627,NaN,134,0.008059,102,0,5,NaN,0.014494
28,29,IUPUI kicked off its annual Campus Campaign on...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-02-13,NaN,NaN,All followers,24266,8547.0,134,0.005522,131,4,5,NaN,0.011292
29,30,"Does your nonprofit have any job, internship, ...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-02-08,NaN,NaN,All followers,15092,NaN,177,0.011728,50,1,7,NaN,0.015571
30,31,We're Super Bowl bound – again! Catch this IUP...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-02-03,NaN,NaN,All followers,29621,4211.0,267,0.009014,163,5,8,NaN,0.014956
31,32,Is furthering your education one of your New Y...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-01-22,NaN,NaN,All followers,16931,NaN,138,0.008151,67,1,4,NaN,0.012403
32,33,"""The team will address problems stemming from ...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-01-15,NaN,NaN,All followers,18028,NaN,190,0.010539,89,3,13,NaN,0.016363
33,34,"Do you have an internship, mentoring, or job-s...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2019-01-04,NaN,NaN,All followers,19287,NaN,218,0.011303,107,0,8,NaN,0.017266
34,35,IUPUI and TechPoint (Indiana) have developed a...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-12-17,NaN,NaN,All followers,19980,NaN,252,0.012613,128,2,11,NaN,0.019670
35,36,Two IUPUI faculty and an Indiana University Sc...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-12-10,NaN,NaN,All followers,19584,NaN,200,0.010212,102,1,4,NaN,0.015676
36,37,Secure your future as an innovation leader. Le...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-12-03,NaN,NaN,All followers,14897,NaN,91,0.006109,45,0,2,NaN,0.009264
37,38,An IUPUI biologist gets National Geographic So...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-11-20,NaN,NaN,All followers,14642,NaN,72,0.004917,52,0,4,NaN,0.008742
38,39,Indiana University School of Medicine cancer r...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-11-13,NaN,NaN,All followers,17004,NaN,131,0.007704,132,1,10,NaN,0.016114
39,40,Women and minority researchers at all Indiana ...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-11-01,NaN,NaN,All followers,19453,NaN,351,0.018043,158,5,22,NaN,0.027554
40,41,Take an early look at the future Multidiscipli...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Kristofer Karol,2018-10-23,NaN,NaN,All followers,29491,NaN,617,0.020922,235,3,11,NaN,0.029365
41,42,Another reason why we love Indy: The Circle Ci...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Kristofer Karol,2018-10-19,NaN,NaN,All followers,20393,NaN,539,0.026431,181,1,35,NaN,0.037072
42,43,"Through this grant, the IU School of Dentistry...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-10-09,NaN,NaN,All followers,19889,NaN,211,0.010609,140,1,7,NaN,0.018050
43,44,Scientists from the IU School of Medicine have...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-10-04,NaN,NaN,All followers,23202,NaN,210,0.009051,210,4,24,NaN,0.019309
44,45,"It's September, which can only mean one thing:...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-09-20,NaN,NaN,All followers,18896,NaN,282,0.014924,179,3,18,NaN,0.025508
45,46,"Stories from alumni, students, faculty and sta...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-09-13,NaN,NaN,All followers,18662,NaN,293,0.015700,102,6,6,NaN,0.021809
46,47,Celebrating a legacy of strength: The IU Schoo...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-09-05,NaN,NaN,All followers,25004,NaN,432,0.017277,239,5,32,NaN,0.028315
47,48,Civic engagement is in our DNA. IUPUI ranks No...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-08-28,NaN,NaN,All followers,22473,NaN,181,0.008054,151,4,15,NaN,0.015619
48,49,Generous gifts from IU alumni Jefferson and Ma...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-08-21,NaN,NaN,All followers,23072,NaN,327,0.014173,181,2,6,NaN,0.022365
49,50,Need a reason to come back to campus? Celebrat...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-08-09,NaN,NaN,All followers,18000,NaN,239,0.013278,110,2,6,NaN,0.019833
50,42,A Kelley School of Business at IUPUI M.B.A. al...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-07-31,NaN,NaN,All followers,19120,NaN,146,0.007636,54,1,2,NaN,0.010617
51,43,"Jagathon, IUPUI's dance marathon, received two...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-07-24,NaN,NaN,All followers,16571,NaN,117,0.007061,114,1,6,NaN,0.014362
52,44,"""With more than 180,000 alumni, 7,000 full-tim...",https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-07-19,NaN,NaN,All followers,15694,NaN,200,0.012744,147,3,13,NaN,0.023130
53,45,What if your physical therapist had a tool tha...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-07-13,NaN,NaN,All followers,16960,NaN,147,0.008667,71,4,12,NaN,0.013797
54,46,IUPUI's 50th Anniversary year celebration has ...,https://www.linkedin.com/feed/update/urn:li:ac...,Organic,NaN,Rachel Terlep,2018-07-02,NaN,NaN,All followers,18914,NaN,271,0.014328,215,8,15,NaN,0.026911

#### Fix the Header

In [54]:
new_header = engagement_metrics_update_df.iloc[0] #grab the first row for the header
engagement_metrics_update_df = engagement_metrics_update_df[1:] #take the data less the header row
engagement_metrics_update_df.columns = new_header #set the header row as the df header


new_header_agg = engagement_metrics_aggregate_df.iloc[0] #grab the first row for the header
engagement_metrics_aggregate_df = engagement_metrics_aggregate_df[1:] #take the data less the header row
engagement_metrics_aggregate_df.columns = new_header_agg #set the header row as the df header



## Update old file

## Fix the Header

In [55]:
engagement_metrics_update_old_df.iloc[0]

Unnamed: 0                                                                  1
Update title                "There is a real power in storytelling to addr...
Update link                 https://www.linkedin.com/feed/update/urn:li:ac...
Update type                                                           Organic
Campaign name                                                             NaN
Posted by                                                       Rachel Terlep
Created date                                              2019-07-31 00:00:00
Campaign start date                                                       NaN
Campaign end date                                                         NaN
Audience                                                        All followers
Impressions                                                              5522
Video views                                                               NaN
Clicks                                                                     78
Click through rate (CTR)                                            0.0141253
Likes                                                                      59
Comments                                                                    2
Shares                                                                      1
Follows                                                                   NaN
Engagement rate                                                     0.0253531
Name: 0, dtype: object

In [56]:
engagement_metrics_update_df.columns, engagement_metrics_aggregate_df.columns,engagement_metrics_update_old_df.columns, engagement_metrics_aggregate_old_df.columns

(Index(['Update title', 'Update link', 'Update type', 'Campaign name',
        'Posted by', 'Created date', 'Campaign start date', 'Campaign end date',
        'Audience', 'Impressions', 'Video views', 'Clicks',
        'Click through rate (CTR)', 'Likes', 'Comments', 'Shares', 'Follows',
        'Engagement rate'],
       dtype='object', name=0),
 Index(['Date', 'Impressions (organic)', 'Impressions (sponsored)',
        'Impressions (total)', 'Unique impressions (organic)',
        'Clicks (organic)', 'Clicks (sponsored)', 'Clicks (total)',
        'Reactions (organic)', 'Reactions (sponsored)', 'Reactions (total)',
        'Comments (organic)', 'Comments (sponsored)', 'Comments (total)',
        'Shares (organic)', 'Shares (sponsored)', 'Shares (total)',
        'Engagement rate (organic)', 'Engagement rate (sponsored)',
        'Engagement rate (total)'],
       dtype='object', name=0),
 Index(['Unnamed: 0', 'Update title', 'Update link', 'Update type',
        'Campaign name', 'Posted by', 'Created date', 'Campaign start date',
        'Campaign end date', 'Audience', 'Impressions', 'Video views', 'Clicks',
        'Click through rate (CTR)', 'Likes', 'Comments', 'Shares', 'Follows',
        'Engagement rate'],
       dtype='object'),
 Index(['Unnamed: 0', 'Date', 'Impressions (organic)',
        'Impressions (sponsored)', 'Impressions (total)',
        'Unique impressions (organic)', 'Clicks (organic)',
        'Clicks (sponsored)', 'Clicks (total)', 'Reactions (organic)',
        'Reactions (sponsored)', 'Reactions (total)', 'Comments (organic)',
        'Comments (sponsored)', 'Comments (total)', 'Shares (organic)',
        'Shares (sponsored)', 'Shares (total)', 'Engagement rate (organic)',
        'Engagement rate (sponsored)', 'Engagement rate (total)'],
       dtype='object'))

In [57]:
engagement_metrics_aggregate_old_df

,Unnamed: 0,Date,Impressions (organic),Impressions (sponsored),Impressions (total),Unique impressions (organic),Clicks (organic),Clicks (sponsored),Clicks (total),Reactions (organic),Reactions (sponsored),Reactions (total),Comments (organic),Comments (sponsored),Comments (total),Shares (organic),Shares (sponsored),Shares (total),Engagement rate (organic),Engagement rate (sponsored),Engagement rate (total)
0,1,2018-08-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0,0.000000
1,2,2018-08-02,3107,0,3107,1979,36,0,36,11,0,11,0,0,0,1,0,1,0.015449,0,0.015449
2,3,2018-08-03,2047,0,2047,1308,13,0,13,5,0,5,0,0,0,0,0,0,0.008793,0,0.008793
3,4,2018-08-04,1268,0,1268,718,19,0,19,6,0,6,0,0,0,0,0,0,0.019716,0,0.019716
4,5,2018-08-05,1077,0,1077,626,7,0,7,3,0,3,0,0,0,0,0,0,0.009285,0,0.009285
5,6,2018-08-06,1611,0,1611,942,8,0,8,4,0,4,0,0,0,0,0,0,0.007449,0,0.007449
6,7,2018-08-07,1650,0,1650,901,21,0,21,4,0,4,0,0,0,0,0,0,0.015152,0,0.015152
7,8,2018-08-08,1426,0,1426,725,3,0,3,6,0,6,0,0,0,0,0,0,0.006311,0,0.006311
8,9,2018-08-09,4337,0,4337,2504,59,0,59,32,0,32,1,0,1,2,0,2,0.021674,0,0.021674
9,10,2018-08-10,3711,0,3711,2380,44,0,44,13,0,13,0,0,0,0,0,0,0.015360,0,0.015360
10,11,2018-08-11,2272,0,2272,1417,22,0,22,15,0,15,-2,0,-2,0,0,0,0.015405,0,0.015405
11,12,2018-08-12,1591,0,1591,962,21,0,21,6,0,6,1,0,1,0,0,0,0.017599,0,0.017599
12,13,2018-08-13,1746,0,1746,1016,16,0,16,9,0,9,0,0,0,1,0,1,0.014891,0,0.014891
13,14,2018-08-14,1719,0,1719,1037,15,0,15,9,0,9,0,0,0,0,0,0,0.013962,0,0.013962
14,15,2018-08-15,1576,0,1576,906,19,0,19,6,0,6,0,0,0,0,0,0,0.015863,0,0.015863
15,16,2018-08-16,1589,0,1589,787,19,0,19,5,0,5,0,0,0,0,0,0,0.015104,0,0.015104
16,17,2018-08-17,1177,0,1177,596,9,0,9,9,0,9,0,0,0,1,0,1,0.016143,0,0.016143
17,18,2018-08-18,778,0,778,422,7,0,7,2,0,2,0,0,0,0,0,0,0.011568,0,0.011568
18,19,2018-08-19,537,0,537,334,4,0,4,1,0,1,0,0,0,0,0,0,0.009311,0,0.009311
19,20,2018-08-20,927,0,927,513,6,0,6,3,0,3,0,0,0,0,0,0,0.009709,0,0.009709
20,21,2018-08-21,4311,0,4311,2786,58,0,58,26,0,26,0,0,0,0,0,0,0.019485,0,0.019485
21,22,2018-08-22,4769,0,4769,3232,72,0,72,50,0,50,1,0,1,4,0,4,0.026630,0,0.026630
22,23,2018-08-23,2829,0,2829,1840,43,0,43,30,0,30,0,0,0,0,0,0,0.025804,0,0.025804
23,24,2018-08-24,1890,0,1890,1239,42,0,42,16,0,16,0,0,0,1,0,1,0.031217,0,0.031217
24,25,2018-08-25,1001,0,1001,640,13,0,13,8,0,8,0,0,0,0,0,0,0.020979,0,0.020979
25,26,2018-08-26,1025,0,1025,651,12,0,12,4,0,4,0,0,0,0,0,0,0.015610,0,0.015610
26,27,2018-08-27,1541,0,1541,922,19,0,19,1,0,1,0,0,0,0,0,0,0.012979,0,0.012979
27,28,2018-08-28,4991,0,4991,3197,40,0,40,52,0,52,2,0,2,4,0,4,0.019635,0,0.019635
28,29,2018-08-29,4235,0,4235,2717,47,0,47,28,0,28,1,0,1,2,0,2,0.018418,0,0.018418
29,30,2018-08-30,2578,0,2578,1667,22,0,22,20,0,20,0,0,0,2,0,2,0.017067,0,0.017067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,2,2018-07-02,3602,0,3602,2266,47,0,47,36,0,36,2,0,2,2,0,2,0.024153,0,0.024153
367,3,2018-07-03,4642,0,4642,3047,67,0,67,77,0,77,2,0,2,6,0,6,0.032745,0,0.032745
368,4,2018-07-04,2054,0,2054,1377,32,0,32,22,0,22,1,0,1,2,0,2,0.027751,0,0.027751
369,5,2018-07-05,2020,0,2020,1320,27,0,27,19,0,19,1,0,1,2,0,2,0.024257,0,0.024257
370,6,2018-07-06,1250,0,1250,774,14,0,14,13,0,13,0,0,0,0,0,0,0.021600,0,0.021600
371,7,2018-07-07,831,0,831,521,6,0,6,8,0,8,0,0,0,0,0,0,0.016847,0,0.016847
372,8,2018-07-08,866,0,866,516,14,0,14,6,0,6,1,0,1,0,0,0,0.024249,0,0.024249
373,9,2018-07-09,1400,0,1400,849,13,0,13,7,0,7,0,0,0,1,0,1,0.015000,0,0.015000
374,10,2018-07-10,1168,0,1168,620,11,0,11,2,0,2,0,0,0,0,0,0,0.011130,0,0.011130
375,11,2018-07-11,1011,0,1011,583,7,0,7,9,0,9,0,0,0,1,0,1,0.016815,0,0.016815
376,12,2018-07-12,840,0,840,502,7,0,7,8,0,8,1,0,1,0,0,0,0.019048,0,0.019048
377,13,2018-07-13,3758,0,3758,2433,38,0,38,28,0,28,2,0,2,3,0,3,0.018893,0,0.018893
378,14,2018-07-14,2774,0,2774,1941,33,0,33,16,0,16,0,0,0,4,0,4,0.019106,0,0.019106
379,15,2018-07-15,1992,0,1992,1361,23,0,23,8,0,8,0,0,0,1,0,1,0.016064,0,0.016064
380,16,2018-07-16,2377,0,2377,1607,24,0,24,8,0,8,0,0,0,1,0,1,0.013883,0,0.013883
381,17,2018-07-17,1558,0,1558,941,8,0,8,1,0,1,0,0,0,1,0,1,0.006418,0,0.006418
382,18,2018-07-18,1548,0,1548,871,11,0,11,10,0,10,0,0,0,2,0,2,0.014858,0,0.014858
383,19,2018-07-19,4060,0,4060,2478,43,0,43,46,0,46,2,0,2,8,0,8,0.024384,0,0.024384
384,20,2018-07-20,3434,0,3434,2173,38,0,38,40,0,40,2,0,2,2,0,2,0.023879,0,0.023879
385,21,2018-07-21,1942,0,1942,1249,26,0,26,15,0,15,0,0,0,3,0,3,0.022657,0,0.022657
386,22,2018-07-22,1585,0,1585,1006,17,0,17,18,0,18,0,0,0,1,0,1,0.022713,0,0.022713
387,23,2018-07-23,1620,0,1620,1013,16,0,16,6,0,6,0,0,0,0,0,0,0.013580,0,0.013580
388,24,2018-07-24,4425,0,4425,2785,32,0,32,38,0,38,2,0,2,3,0,3,0.016949,0,0.016949
389,25,2018-07-25,3891,0,3891,2479,20,0,20,31,0,31,0,0,0,2,0,2,0.013621,0,0.013621
390,26,2018-07-26,2560,0,2560,1550,29,0,29,18,0,18,0,0,0,1,0,1,0.018750,0,0.018750
391,27,2018-07-27,1606,0,1606,947,19,0,19,9,0,9,0,0,0,1,0,1,0.018057,0,0.018057
392,28,2018-07-28,1028,0,1028,632,23,0,23,3,0,3,0,0,0,0,0,0,0.025292,0,0.025292
393,29,2018-07-29,1052,0,1052,632,11,0,11,4,0,4,0,0,0,0,0,0,0.014259,0,0.014259
394,30,2018-07-30,1663,0,1663,943,18,0,18,5,0,5,0,0,0,2,0,2,0.015033,0,0.015033
395,31,2018-07-31,4181,0,4181,2581,40,0,40,21,0,21,0,0,0,1,0,1,0.014829,0,0.014829

In [58]:
engagement_metrics_aggregate_df["Date"] = pd.to_datetime(engagement_metrics_aggregate_df["Date"])
engagement_metrics_aggregate_old_df["Date"] =  pd.to_datetime(engagement_metrics_aggregate_old_df["Date"])
engagement_metrics_aggregate_df["Date"].min(), engagement_metrics_aggregate_old_df["Date"].min()

(Timestamp('2018-09-01 00:00:00'), Timestamp('2018-07-01 00:00:00'))

#### Append - Aggregate

In [59]:
### Append

engagement_metrics_aggregate_df = engagement_metrics_aggregate_df.append(engagement_metrics_aggregate_old_df[engagement_metrics_aggregate_old_df["Date"]<engagement_metrics_aggregate_df["Date"].min()]
)

print("Merged successfully",engagement_metrics_aggregate_df["Date"].min())

Merged successfully 2018-07-01 00:00:00

In [60]:
engagement_metrics_update_df["Created date"] = pd.to_datetime(engagement_metrics_update_df["Created date"])
engagement_metrics_update_old_df["Created date"] =  pd.to_datetime(engagement_metrics_update_old_df["Created date"])
engagement_metrics_update_df["Created date"].min(), engagement_metrics_update_old_df["Created date"].min()

(Timestamp('2018-10-04 00:00:00'), Timestamp('2018-07-02 00:00:00'))

#### Append - Update

In [61]:
engagement_metrics_update_df = engagement_metrics_update_df.append(engagement_metrics_update_old_df[engagement_metrics_update_old_df["Created date"]<engagement_metrics_update_df["Created date"].min()]
)

print("Merged successfully",engagement_metrics_update_df["Created date"].min())

Merged successfully 2018-07-02 00:00:00

In [62]:
with pd.ExcelWriter(engagements_file_path,engine='xlsxwriter') as writer:
    
    ## Metrics
    engagement_metrics_aggregate_df.to_excel(writer,sheet_name = 'Update metrics (aggregated)')
    engagement_metrics_update_df.to_excel(writer,sheet_name = 'Update engagement')
    writer.save()

### Followers

In [63]:
new_followers_df = pd.read_excel(followers_file_path, sheet_name='New followers')
followers_location_df = pd.read_excel(followers_file_path,sheet_name = "Location")
followers_job_function_df = pd.read_excel(followers_file_path,sheet_name = "Job function")
followers_industry_df = pd.read_excel(followers_file_path,sheet_name= "Industry")
followers_company_size_df = pd.read_excel(followers_file_path, sheet_name = "Company size")
followers_seniority_df = pd.read_excel(followers_file_path,sheet_name = "Seniority")



old_followers_df = pd.read_excel(old_followers_file_path, sheet_name='New followers')
old_followers_location_df = pd.read_excel(old_followers_file_path,sheet_name = "Location")
old_followers_job_function_df = pd.read_excel(old_followers_file_path,sheet_name = "Job function")
old_followers_industry_df = pd.read_excel(old_followers_file_path,sheet_name= "Industry")
old_followers_company_size_df = pd.read_excel(old_followers_file_path, sheet_name = "Company size")
old_followers_seniority_df = pd.read_excel(old_followers_file_path,sheet_name = "Seniority")


new_followers_df["Date"] = pd.to_datetime(new_followers_df["Date"])
old_followers_df["Date"] = pd.to_datetime(old_followers_df["Date"])

In [64]:
print("Min date:", new_followers_df['Date'].min(), " Max date:", new_followers_df["Date"].max())
print(f"Number of records, in followers metrics: {new_followers_df.shape}")
print(f"Number of records, in followers location: {followers_location_df.shape}")
print(f"Number of records, in followers job function: {followers_job_function_df.shape}")
print(f"Number of records, in followers industry: {followers_industry_df.shape}")
print(f"Number of records, in followers company size: {followers_company_size_df.shape}")
print(f"Number of records, in followers seniority: {followers_seniority_df.shape}")

print("Min date:", old_followers_df['Date'].min(), " Max date:", old_followers_df["Date"].max())

Min date: 2018-09-01 00:00:00  Max date: 2019-09-18 00:00:00
Number of records, in followers metrics: (383, 4)
Number of records, in followers location: (98, 2)
Number of records, in followers job function: (26, 2)
Number of records, in followers industry: (99, 2)
Number of records, in followers company size: (9, 2)
Number of records, in followers seniority: (10, 2)
Min date: 2018-07-01 00:00:00  Max date: 2019-07-31 00:00:00

In [65]:
## merge
new_followers_df = new_followers_df.append(old_followers_df[old_followers_df["Date"]< new_followers_df['Date'].min()])

new_followers_df["Date"].min()

Timestamp('2018-07-01 00:00:00')

In [66]:
with pd.ExcelWriter(followers_file_path, engine="xlsxwriter") as writer:
    new_followers_df.to_excel(writer, sheet_name='New followers')
    followers_location_df.to_excel(writer,sheet_name = "Location")
    followers_job_function_df.to_excel(writer,sheet_name = "Job function")
    followers_industry_df.to_excel(writer,sheet_name= "Industry")
    followers_company_size_df.to_excel(writer, sheet_name = "Company size")
    followers_seniority_df.to_excel(writer,sheet_name = "Seniority")
    
    writer.save()